@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffcf8;
  /* Tourlive Lightest Orange */
  --foreground: #1c1917;
  /* Stone 900 */
  --surface: #ffffff;
  --surface-border: #ffedd5;
  /* Orange 100 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    /* Slate 950 */
    --foreground: #f8fafc;
    /* Slate 50 */
    --surface: #0f172a;
    /* Slate 900 */
    --surface-border: #1e293b;
    /* Slate 800 */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
}

@layer utilities {
  .glass {
    @apply bg-opacity-70 backdrop-blur-md border border-white/10;
  }

  .text-balance {
    text-wrap: balance;
  }
}